.page__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 10px;
  padding: 1rem;
  color: white;
  background-color:rgb(86, 86, 114);
  font-size: 12px;
}
