<main class="page__main">
  <section class="search">
    <form class="search__form js__form" action="#" id="form">
      <input class="search__input js__input" type="text" placeholder="Example: Olu Mei" />
      <button class="search__button js__search-btn">Search</button>
    </form>
  </section>
  <div class="data">
    <section class="cards__favorites">

      <h2 class="title"> Favorites ❤️</h2>

      <ul class="favorites__list favorites js__favoritesUl">

      </ul>
    </section>

    <section class="cards__characters">
      <h2 class="title">Characters ❤️</h2>

      <ul class="character__list js__character-list">

      </ul>

    </section>
  </div>
</main>