<main class="page__main">
  <section class="search">
    <form class="search__form">
      <input class="search__input" type="text" placeholder="Example: Olu Mei" />
      <button class="search__button">Search</button>
    </form>
  </section>

  <section class="data">
    <section class="cards__favorites">
      <section class="favorites">
        <h2 class="title"> Favorites ❤️</h2>
      </section>
      <ul class="favorites__list">
      </ul>
    </section>

    <section class="cards__characters">
      <section class="characters">
        <h2 class="title">Characters ❤️</h2>
      </section>
      <ul class="character__list">

      </ul>
    </section>
  </section>
</main>